.landing {
    display: flex;
    min-height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons span {
    margin: 10px;
}

svg:hover {
    filter: drop-shadow( 3px 3px 2px rgba(255, 245, 158, .4));
}

.jobTitle {
    margin-top: 20px;
    font-family: 'Bai Jamjuree', sans-serif;
    color: #F9F9F9;
    font-size: 36px;
}
